
$navbar-default-bg: blue;
$navbar-default-border: red;
$navbar-default-brand-color: black;
$navbar-default-brand-hover-color: grey;
$navbar-default-brand-hover-bg: white;

// Default navbar
.navbar-default {
 background-color: $navbar-default-bg;
 border-color: $navbar-default-border;
 }
.navbar-brand {
 color: $navbar-default-brand-color;
 &:hover,
 &:focus {
 color: $navbar-default-brand-hover-color;
 background-color: $navbar-default-brand-hover-bg;
 }
}