<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT projectOverview ANY>
<!ATTLIST projectOverview id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT articlesOverview ANY>
<!ATTLIST articlesOverview id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1078" key="924e2a59-22f6-4009-8304-ca0c31e4b4e2" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-02-08T12:11:57" updateDate="2017-03-22T12:26:42" nodeName="Home" urlName="home" path="-1,1078" isDoc="" nodeType="1051" creatorName="Tobias Dahl" writerName="Tobias Dahl" writerID="0" template="1050" nodeTypeAlias="homePage">
    <metaKeywords><![CDATA[Homepage]]></metaKeywords>
    <metaDescription><![CDATA[Homepage]]></metaDescription>
    <umbracoNaviHide>0</umbracoNaviHide>
    <siteTitle><![CDATA[Homepage]]></siteTitle>
    <mainContent><![CDATA[<p>This page has been designed to provide members of staff at Aberystwyth University with a central location from which to access useful information.</p>
<p>The information has been divided up into topics which are displayed on the main page. There may be further links on the subpages for each of the topics. If you can't find the link you need on the main page, try clicking on the topic heading, or one of the menu items to the left to see if the link is available on the subpage.</p>
<p>This is our 3 newest projects:</p>]]></mainContent>
    <articlesOverview id="1079" key="e021bcc4-e315-48e4-9b77-a5167e6e3789" parentID="1078" level="2" creatorID="0" sortOrder="0" createDate="2017-02-08T12:12:32" updateDate="2017-02-08T12:12:32" nodeName="Articles" urlName="articles" path="-1,1078,1079" isDoc="" nodeType="1057" creatorName="Tobias Dahl" writerName="Tobias Dahl" writerID="0" template="1056" nodeTypeAlias="articlesOverview">
      <metaKeywords><![CDATA[Articles]]></metaKeywords>
      <metaDescription><![CDATA[Articles]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesTitle><![CDATA[All articles]]></articlesTitle>
      <articlesBodyText><![CDATA[<p>This is all my articles</p>]]></articlesBodyText>
      <articleItem id="1080" key="8b8ee96f-9d09-4981-9642-43db3d6ded6f" parentID="1079" level="3" creatorID="0" sortOrder="0" createDate="2017-02-08T12:12:59" updateDate="2017-03-22T12:36:55" nodeName="HTML5 the new standard" urlName="html5-the-new-standard" path="-1,1078,1079,1080" isDoc="" nodeType="1060" creatorName="Tobias Dahl" writerName="Tobias Dahl" writerID="0" template="1059" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[HTML5 the new standard]]></articleTitle>
        <articleContent><![CDATA[<p>Below is a list of the new HTML5 elements, and a description of what they are used for.</p>
<table border="0" class="w3-table-all notranslate">
<tbody>
<tr>
<th>Tag</th>
<th>Description</th>
</tr>
<tr>
<td>&lt;article&gt;</td>
<td>Defines an article in the document</td>
</tr>
<tr>
<td>&lt;aside&gt;</td>
<td>Defines content aside from the page content</td>
</tr>
<tr>
<td>&lt;bdi&gt;</td>
<td>Defines a part of text that might be formatted in a different direction from other text</td>
</tr>
<tr>
<td>&lt;details&gt;</td>
<td>Defines additional details that the user can view or hide</td>
</tr>
<tr>
<td>&lt;dialog&gt;</td>
<td>Defines a dialog box or window</td>
</tr>
<tr>
<td>&lt;figcaption&gt;</td>
<td>Defines a caption for a &lt;figure&gt; element</td>
</tr>
<tr>
<td>&lt;figure&gt;</td>
<td>Defines self-contained content, like illustrations, diagrams, photos, code listings, etc.</td>
</tr>
<tr>
<td>&lt;footer&gt;</td>
<td>Defines a footer for the document or a section</td>
</tr>
<tr>
<td>&lt;header&gt;</td>
<td>Defines a header for the document or a section</td>
</tr>
<tr>
<td>&lt;main&gt;</td>
<td>Defines the main content of a document</td>
</tr>
</tbody>
</table>]]></articleContent>
      </articleItem>
      <articleItem id="1081" key="45c19f16-4df3-48e9-b932-3713b17bc397" parentID="1079" level="3" creatorID="0" sortOrder="1" createDate="2017-02-08T12:13:44" updateDate="2017-03-22T12:38:58" nodeName="AMD gør klar til bios opdatering" urlName="amd-goer-klar-til-bios-opdatering" path="-1,1078,1079,1081" isDoc="" nodeType="1060" creatorName="Tobias Dahl" writerName="Tobias Dahl" writerID="0" template="1059" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[AMD gør klar til bios opdatering]]></articleTitle>
        <articleContent><![CDATA[<p>et er ikke lang tid siden, AMD sendte <a href="https://newz.dk/amd-fremviser-ryzen-5-serie-med-4-og-6-kerne-cpu-er%3C/p%3E%3Cp%3E">den nye serie af Ryzen-processorer</a> på gaden. Nu er selskabet så i gang med en opdatering, der skal sikre, at man ikke ender med et såkaldt 'FMA3 Code System Lock-up'.</p>
<p>Denne fejl, der sker ved brug af 'floating point'-operationer, betyder, at en ramt maskine ikke kan køre.</p>
<p>AMD erkender problemet og melder, at årsagen er fundet. Det er endnu uvist, hvornår opdateringen sendes ud.</p>]]></articleContent>
      </articleItem>
      <articleItem id="1086" key="d65c4bca-d987-4a0f-a90c-77bfcff136f8" parentID="1079" level="3" creatorID="0" sortOrder="2" createDate="2017-02-08T12:15:42" updateDate="2017-03-22T12:39:55" nodeName="Adobe og Microsoft fælles om ny platform for deling af brugerdata" urlName="adobe-og-microsoft-faelles-om-ny-platform-for-deling-af-brugerdata" path="-1,1078,1079,1086" isDoc="" nodeType="1060" creatorName="Tobias Dahl" writerName="Tobias Dahl" writerID="0" template="1059" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Adobe og Microsoft fælles om ny platform for deling af brugerdata]]></articleTitle>
        <articleContent><![CDATA[<p>De to selskaber Adobe og Microsoft har annonceret en ny grad af samarbejde i forhold til deling af brugerdata eller produktintegration.</p>
<p>Dette sker med en fælles platform - XDM (Experience Data Model) - til deling af adfærds- og marketingdata.</p>
<p>Microsoft har et CRM-produkt (Customer Relations Management) ved navn Dynamics 365 men er mere svag på marketing-delen, hvor Adobe står stærkere.</p>
<p>Adobes nye 'Adobe Campaign', der håndterer kampagner på tværs af platforme - web, mobil, e-mail og print - kan derfor også integreres med Microsofts Dynamics 365, lige som Adobe Analytics integrerer med Microsoft Power BI til visualisering af kampagneresultater. Adobe Experience Manager, der bruges til håndtering af inernet-indhold, hostes også let på Microsoft Azure.</p>]]></articleContent>
      </articleItem>
    </articlesOverview>
    <projectOverview id="1148" key="47899202-182c-4209-bb46-3a1b5542e621" parentID="1078" level="2" creatorID="0" sortOrder="1" createDate="2017-03-22T13:03:59" updateDate="2017-03-22T13:04:10" nodeName="Project overview" urlName="project-overview" path="-1,1078,1148" isDoc="" nodeType="1147" creatorName="Tobias Dahl" writerName="Tobias Dahl" writerID="0" template="1146" nodeTypeAlias="projectOverview">
      <umbracoNaviHide>0</umbracoNaviHide>
    </projectOverview>
    <projectsOverview id="1082" key="c9d530d3-1491-48a6-aeca-6aad1af8ff94" parentID="1078" level="2" creatorID="0" sortOrder="2" createDate="2017-02-08T12:14:06" updateDate="2017-03-22T12:56:17" nodeName="Projects" urlName="projects" path="-1,1078,1082" isDoc="" nodeType="1063" creatorName="Tobias Dahl" writerName="Tobias Dahl" writerID="0" template="1062" nodeTypeAlias="projectsOverview">
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsTitle><![CDATA[My projects]]></projectsTitle>
      <projectsBodyText><![CDATA[<p>See them all &lt;3</p>]]></projectsBodyText>
      <projectItem id="1083" key="55a81af9-250c-4e8c-b1a4-d150db9119e7" parentID="1082" level="3" creatorID="0" sortOrder="0" createDate="2017-02-08T12:14:32" updateDate="2017-03-22T14:32:53" nodeName="Make article about HTML5" urlName="make-article-about-html5" path="-1,1078,1082,1083" isDoc="" nodeType="1067" creatorName="Tobias Dahl" writerName="Tobias Dahl" writerID="0" template="1066" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[HTML5]]></projectTitle>
        <projectDescription><![CDATA[<p><span>We’ve discussed a lot of new elements here at HTML5Doctor, but the </span><span class="pln">article</span><span> element has somehow escaped the microscope… until now! </span><span class="pln">article</span><span> is one of the new sectioning elements. It is often confused with </span><span class="pln">section</span><span>and </span><span class="pln">div</span><span> but don’t worry we’ll explain the difference between them.</span></p>]]></projectDescription>
        <projectStatus>6</projectStatus>
      </projectItem>
      <projectItem id="1084" key="2c0bf3b7-45b3-4319-ad42-7eadb810194a" parentID="1082" level="3" creatorID="0" sortOrder="1" createDate="2017-02-08T12:15:03" updateDate="2017-03-22T14:37:47" nodeName="Make article about Javascript" urlName="make-article-about-javascript" path="-1,1078,1082,1084" isDoc="" nodeType="1067" creatorName="Tobias Dahl" writerName="Tobias Dahl" writerID="0" template="1066" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Javascript]]></projectTitle>
        <projectDescription><![CDATA[<p>JavaScript (JS)<span> er et dynamisk programmeringssprog. Det er mest almindeligt anvendt som en del af webbrowsere, hvis implementeringer tillader klientside scripts at kommunikere med brugeren, kontrollere browseren, kommunikere asynkront, og ændre indholdet af HTML dokumenter. JS anvendes også ved server-side programmering (med Node.js), spiludvikling og udvikling af desktop- og mobile applikationer.</span></p>]]></projectDescription>
        <projectStatus>9</projectStatus>
      </projectItem>
      <projectItem id="1085" key="66bc48a1-7c91-4491-ad95-ba40249bbf5e" parentID="1082" level="3" creatorID="0" sortOrder="2" createDate="2017-02-08T12:15:21" updateDate="2017-03-22T13:20:55" nodeName="Make article about Razor" urlName="make-article-about-razor" path="-1,1078,1082,1085" isDoc="" nodeType="1067" creatorName="Tobias Dahl" writerName="Tobias Dahl" writerID="0" template="1066" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[What is Razor?]]></projectTitle>
        <projectDescription><![CDATA[<p>Razor is a markup syntax that lets you embed server-based code (Visual Basic and C#) into web pages.</p>
<p>Server-based code can create dynamic web content on the fly, while a web page is written to the browser. When a web page is called, the server executes the server-based code inside the page before it returns the page to the browser. By running on the server, the code can perform complex tasks, like accessing databases.</p>
<p>Razor is based on ASP.NET, and designed for creating web applications. It has the power of traditional ASP.NET markup, but it is easier to use, and easier to learn.</p>]]></projectDescription>
        <projectStatus>9</projectStatus>
      </projectItem>
      <projectItem id="1139" key="bb63bf5b-2f69-4dee-9302-a1bdf95093a0" parentID="1082" level="3" creatorID="0" sortOrder="3" createDate="2017-03-22T11:54:42" updateDate="2017-03-22T12:45:45" nodeName="Make article about MVC" urlName="make-article-about-mvc" path="-1,1078,1082,1139" isDoc="" nodeType="1067" creatorName="Tobias Dahl" writerName="Tobias Dahl" writerID="0" template="1066" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[What is MVC?]]></projectTitle>
        <projectDescription><![CDATA[<p>The Model-View-Controller (MVC) is an architectural pattern that separates an application into three main logical components: the model, the view, and the controller. Each of these components are built to handle specific development aspects of an application. MVC is one of the most frequently used industry-standard web development framework to create scalable and extensible projects.</p>
<p> </p>]]></projectDescription>
        <projectStatus>9</projectStatus>
      </projectItem>
      <projectItem id="1140" key="99eaecbb-ee98-4ab9-9f9f-cbc8191469f9" parentID="1082" level="3" creatorID="0" sortOrder="4" createDate="2017-03-22T11:55:49" updateDate="2017-03-22T12:45:56" nodeName="Make article about CMS" urlName="make-article-about-cms" path="-1,1078,1082,1140" isDoc="" nodeType="1067" creatorName="Tobias Dahl" writerName="Tobias Dahl" writerID="0" template="1066" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[What is CMS?]]></projectTitle>
        <projectDescription><![CDATA[<p><span>A content management system (CMS) is a software application or set of related programs that are used to create and manage digital content. CMSes are typically used for </span><a href="http://searchwindowsserver.techtarget.com/definition/enterprise-content-management-ECM">enterprise content management</a><span> (ECM) and </span><a href="http://searchcontentmanagement.techtarget.com/definition/web-content-management-WCM">web content management</a><span> (WCM). An ECM facilitates collaboration in the workplace by integrating document management, digital asset management and records retention functionalities, and providing end users with role-based access to the organization's digital assets. A WCM facilitates collaborative authoring for websites. ECM software often includes a WCM publishing functionality, but ECM webpages typically remain behind the organization's firewall. </span></p>]]></projectDescription>
        <projectStatus>9</projectStatus>
      </projectItem>
    </projectsOverview>
    <textPage id="1101" key="8fc3686f-cc7f-4ce1-b249-3d3683a33b4f" parentID="1078" level="2" creatorID="0" sortOrder="3" createDate="2017-02-08T13:09:49" updateDate="2017-03-22T12:56:17" nodeName="About us" urlName="about-us" path="-1,1078,1101" isDoc="" nodeType="1054" creatorName="Tobias Dahl" writerName="Tobias Dahl" writerID="0" template="1053" nodeTypeAlias="textPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <header><![CDATA[About us]]></header>
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Full",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>This forum is about the newest technologies in the web development world.</p>\n<p><em>Technologies</em><span> are not usually exclusively products of science, because they have to satisfy requirements such as utility, usability, and safety. Engineering</span><span> ...</span> </p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "label": "Full",
          "hasConfig": false,
          "id": "a08fd712-83b0-a5da-0bb5-7a6b7f22ccd5",
          "hasActiveChild": true,
          "active": true
        },
        {
          "name": "",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Vision",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p><span>As we move towards our goal of being a world-class university, we will support research on a global scale. Locally, our campus will service the research needs of the learning community, granting access to many informational resources. </span><span><br />Read more at http://examples.yourdictionary.com/best-examples-of-a-vision-statement.html#R4THFUCbAQ17GuBq.99</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "People",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1142,
                    "image": "/media/1005/directors_person_diesu-2x.png"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Skills",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<ul>\n<li>Accounting</li>\n<li>Active Listening</li>\n<li>Administrative</li>\n<li>Analytical</li>\n<li>Behavioral</li>\n<li>Blue Collar Job Skills</li>\n<li>Business Intelligence</li>\n<li>Business</li>\n<li>Business Storytelling</li>\n<li>Collaboration</li>\n<li>Communication</li>\n</ul>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "Column",
          "hasConfig": false,
          "id": "66fdd707-8e5e-25ce-239b-28eb5d2eb3b5"
        }
      ]
    }
  ]
}]]></grid>
    </textPage>
    <login id="1133" key="76f46aa5-7831-4a62-957e-f664f0a0f76c" parentID="1078" level="2" creatorID="0" sortOrder="4" createDate="2017-03-08T12:12:23" updateDate="2017-03-22T12:56:17" nodeName="Login" urlName="login" path="-1,1078,1133" isDoc="" nodeType="1132" creatorName="Tobias Dahl" writerName="Tobias Dahl" writerID="0" template="1131" nodeTypeAlias="login">
      <umbracoNaviHide>0</umbracoNaviHide>
    </login>
    <members id="1138" key="e6c2c618-a56b-4a3b-ab31-c0d5ceddc6e8" parentID="1078" level="2" creatorID="0" sortOrder="5" createDate="2017-03-08T13:21:29" updateDate="2017-03-22T12:56:17" nodeName="Members" urlName="members" path="-1,1078,1138" isDoc="" nodeType="1137" creatorName="Tobias Dahl" writerName="Tobias Dahl" writerID="0" template="1136" nodeTypeAlias="members">
      <umbracoNaviHide>0</umbracoNaviHide>
    </members>
    <textPage id="1135" key="960664f7-2e95-4197-8721-78a425c89254" parentID="1078" level="2" creatorID="0" sortOrder="6" createDate="2017-03-08T12:53:22" updateDate="2017-03-22T12:56:17" nodeName="Forbidden access" urlName="forbidden-access" path="-1,1078,1135" isDoc="" nodeType="1054" creatorName="Tobias Dahl" writerName="Tobias Dahl" writerID="0" template="1053" nodeTypeAlias="textPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <header><![CDATA[You do not have the rights]]></header>
      <mainContent><![CDATA[<p>You do not have the rights</p>]]></mainContent>
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></grid>
    </textPage>
    <contactPage id="1107" key="5128a4fb-2075-423d-90c6-f602766d5a41" parentID="1078" level="2" creatorID="0" sortOrder="7" createDate="2017-02-22T09:18:59" updateDate="2017-03-22T12:56:17" nodeName="Contact Us" urlName="contact-us" path="-1,1078,1107" isDoc="" nodeType="1106" creatorName="Tobias Dahl" writerName="Tobias Dahl" writerID="0" template="1105" nodeTypeAlias="contactPage">
      <umbracoNaviHide>0</umbracoNaviHide>
    </contactPage>
    <sitemap id="1104" key="d3f7efc0-d5fc-4f9b-bc7c-a2efcf13efa9" parentID="1078" level="2" creatorID="0" sortOrder="8" createDate="2017-02-15T12:20:12" updateDate="2017-03-22T12:56:17" nodeName="Sitemap" urlName="sitemap" path="-1,1078,1104" isDoc="" nodeType="1103" creatorName="Tobias Dahl" writerName="Tobias Dahl" writerID="0" template="1102" nodeTypeAlias="sitemap">
      <umbracoNaviHide>0</umbracoNaviHide>
    </sitemap>
  </homePage>
</root>