@inherits Umbraco.Web.Macros.PartialViewMacroPage
	@{	
		var projectOverview= 
			CurrentPage.AncestorOrSelf(1)
			.Children()
			.Where("DocumentTypeAlias == \"projectsOverview\"")
			.First()
			.Children()
			.Where("Visible")
			.OrderBy("CreateDate desc");
			
	}
	
<ul>

@foreach (var page in projectOverview) {
<li><a href="@page.Url">@page.Name</a></li>
}
</ul>