@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="container">
<p>@Umbraco.Field("mainContent")</p>
	
@Umbraco.RenderMacro("newestProjects")
</div>