@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectOverview>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="container">
@Umbraco.RenderMacro("ProjectOverview")
</div>